---
import BaseLayout from "@layouts/BaseLayout.astro";
import TimeLineElement from "@components/cv/TimeLine.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const basePath = import.meta.env.BASE_URL;
const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hello 👋</div>
    <div class="text-5xl font-bold">I'm Abraham Beens Romero</div>
    <div class="text-3xl py-3 font-bold">Systems Engineer</div>
    <div class="py-2 text-justify">
      <text class="text-lg text-justify">
Systems Engineer with solid experience in web and mobile development, now specializing in artificial intelligence, machine learning (ML), deep learning (DL), and large language models (LLMs). I combine strong programming expertise with advanced data-driven approaches, leveraging tools like Cursor, GitHub Copilot, Claude Code, Gemini CLI and AI-powered platforms to accelerate development cycles and deliver intelligent, high-impact solutions.
Comfortable working across the full stack, I design and implement AI enhanced systems that bridge backend automation with smart, adaptive user interfaces. Passionate about creating robust, scalable, and intelligent solutions that harness ML/DL to tackle complex problems efficiently and drive real-world innovation.      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn bg-sky-400 text-white"
        href="https://www.linkedin.com/in/abraham-beens-romero-669aa5122/"
        target="_blank"
      >
        Linkedin
      </a>
      <a
        href=`${basePath}/Abraham Beens Resume.pdf`
        download="Abraham Beens Resume.pdf"
        target="_blank"
        class="btn btn-outline ml-5"
      >
        My Resume
      </a>
    </div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">My Stack</div>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-4 mb-10 gap-4">
    <!-- .NET C# Card -->
    <div
      class="max-w-sm m-0 bg-gradient-to-br from-purple-600 to-blue-500 rounded-xl overflow-hidden shadow-2xl transform hover:scale-105 transition-transform duration-300"
    >
      <div class="p-6">
        <div class="flex items-center justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 128 128"
            class="w-24 h-24"
            ><path
              fill="#9B4F96"
              d="M115.4 30.7L67.1 2.9c-.8-.5-1.9-.7-3.1-.7-1.2 0-2.3.3-3.1.7l-48 27.9c-1.7 1-2.9 3.5-2.9 5.4v55.7c0 1.1.2 2.4 1 3.5l106.8-62c-.6-1.2-1.5-2.1-2.4-2.7z"
            ></path><path
              fill="#68217A"
              d="M10.7 95.3c.5.8 1.2 1.5 1.9 1.9l48.2 27.9c.8.5 1.9.7 3.1.7 1.2 0 2.3-.3 3.1-.7l48-27.9c1.7-1 2.9-3.5 2.9-5.4V36.1c0-.9-.1-1.9-.6-2.8l-106.6 62z"
            ></path><path
              fill="#fff"
              d="M85.3 76.1C81.1 83.5 73.1 88.5 64 88.5c-13.5 0-24.5-11-24.5-24.5s11-24.5 24.5-24.5c9.1 0 17.1 5 21.3 12.5l13-7.5c-6.8-11.9-19.6-20-34.3-20-21.8 0-39.5 17.7-39.5 39.5s17.7 39.5 39.5 39.5c14.6 0 27.4-8 34.2-19.8l-12.9-7.6zM97 66.2l.9-4.3h-4.2v-4.7h5.1L100 51h4.9l-1.2 6.1h3.8l1.2-6.1h4.8l-1.2 6.1h2.4v4.7h-3.3l-.9 4.3h4.2v4.7h-5.1l-1.2 6h-4.9l1.2-6h-3.8l-1.2 6h-4.8l1.2-6h-2.4v-4.7H97zm4.8 0h3.8l.9-4.3h-3.8l-.9 4.3z"
            ></path></svg
          >
        </div>
        <h2 class="text-xl font-bold text-center text-white">.NET C#</h2>
      </div>
    </div>

    <!-- Python Card -->
    <div
      class="max-w-sm m-0 bg-gradient-to-br from-blue-500 to-green-400 rounded-xl overflow-hidden shadow-2xl transform hover:scale-105 transition-transform duration-300"
    >
      <div class="p-6">
        <div class="flex items-center justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 128 128"
            class="w-24 h-24"
          >
            <linearGradient
              id="python-original-a"
              gradientUnits="userSpaceOnUse"
              x1="70.252"
              y1="1237.476"
              x2="170.659"
              y2="1151.089"
              gradientTransform="matrix(.563 0 0 -.568 -29.215 707.817)"
              ><stop offset="0" stop-color="#5A9FD4"></stop><stop
                offset="1"
                stop-color="#306998"></stop></linearGradient
            ><linearGradient
              id="python-original-b"
              gradientUnits="userSpaceOnUse"
              x1="209.474"
              y1="1098.811"
              x2="173.62"
              y2="1149.537"
              gradientTransform="matrix(.563 0 0 -.568 -29.215 707.817)"
              ><stop offset="0" stop-color="#FFD43B"></stop><stop
                offset="1"
                stop-color="#FFE873"></stop></linearGradient
            ><path
              fill="url(#python-original-a)"
              d="M63.391 1.988c-4.222.02-8.252.379-11.8 1.007-10.45 1.846-12.346 5.71-12.346 12.837v9.411h24.693v3.137H29.977c-7.176 0-13.46 4.313-15.426 12.521-2.268 9.405-2.368 15.275 0 25.096 1.755 7.311 5.947 12.519 13.124 12.519h8.491V67.234c0-8.151 7.051-15.34 15.426-15.34h24.665c6.866 0 12.346-5.654 12.346-12.548V15.833c0-6.693-5.646-11.72-12.346-12.837-4.244-.706-8.645-1.027-12.866-1.008zM50.037 9.557c2.55 0 4.634 2.117 4.634 4.721 0 2.593-2.083 4.69-4.634 4.69-2.56 0-4.633-2.097-4.633-4.69-.001-2.604 2.073-4.721 4.633-4.721z"
              transform="translate(0 10.26)"></path><path
              fill="url(#python-original-b)"
              d="M91.682 28.38v10.966c0 8.5-7.208 15.655-15.426 15.655H51.591c-6.756 0-12.346 5.783-12.346 12.549v23.515c0 6.691 5.818 10.628 12.346 12.547 7.816 2.297 15.312 2.713 24.665 0 6.216-1.801 12.346-5.423 12.346-12.547v-9.412H63.938v-3.138h37.012c7.176 0 9.852-5.005 12.348-12.519 2.578-7.735 2.467-15.174 0-25.096-1.774-7.145-5.161-12.521-12.348-12.521h-9.268zM77.809 87.927c2.561 0 4.634 2.097 4.634 4.692 0 2.602-2.074 4.719-4.634 4.719-2.55 0-4.633-2.117-4.633-4.719 0-2.595 2.083-4.692 4.633-4.692z"
              transform="translate(0 10.26)"></path><radialGradient
              id="python-original-c"
              cx="1825.678"
              cy="444.45"
              r="26.743"
              gradientTransform="matrix(0 -.24 -1.055 0 532.979 557.576)"
              gradientUnits="userSpaceOnUse"
              ><stop offset="0" stop-color="#B8B8B8" stop-opacity=".498"
              ></stop><stop offset="1" stop-color="#7F7F7F" stop-opacity="0"
              ></stop></radialGradient
            ><path
              opacity=".444"
              fill="url(#python-original-c)"
              d="M97.309 119.597c0 3.543-14.816 6.416-33.091 6.416-18.276 0-33.092-2.873-33.092-6.416 0-3.544 14.815-6.417 33.092-6.417 18.275 0 33.091 2.872 33.091 6.417z"
            ></path>
          </svg>
        </div>
        <h2 class="text-xl font-bold text-center text-white">Python</h2>
      </div>
    </div>
    <div
      class="max-w-sm m-0 bg-gradient-to-br from-blue-400 to-teal-300 rounded-xl overflow-hidden shadow-2xl transform hover:scale-105 transition-transform duration-300"
    >
      <div class="p-6">
        <div class="flex items-center justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 128 128"
            class="w-24 h-24"
          >
            <g fill="#61DAFB"
              ><circle cx="64" cy="64" r="11.4"></circle><path
                d="M107.3 45.2c-2.2-.8-4.5-1.6-6.9-2.3.6-2.4 1.1-4.8 1.5-7.1 2.1-13.2-.2-22.5-6.6-26.1-1.9-1.1-4-1.6-6.4-1.6-7 0-15.9 5.2-24.9 13.9-9-8.7-17.9-13.9-24.9-13.9-2.4 0-4.5.5-6.4 1.6-6.4 3.7-8.7 13-6.6 26.1.4 2.3.9 4.7 1.5 7.1-2.4.7-4.7 1.4-6.9 2.3C8.2 50 1.4 56.6 1.4 64s6.9 14 19.3 18.8c2.2.8 4.5 1.6 6.9 2.3-.6 2.4-1.1 4.8-1.5 7.1-2.1 13.2.2 22.5 6.6 26.1 1.9 1.1 4 1.6 6.4 1.6 7.1 0 16-5.2 24.9-13.9 9 8.7 17.9 13.9 24.9 13.9 2.4 0 4.5-.5 6.4-1.6 6.4-3.7 8.7-13 6.6-26.1-.4-2.3-.9-4.7-1.5-7.1 2.4-.7 4.7-1.4 6.9-2.3 12.5-4.8 19.3-11.4 19.3-18.8s-6.8-14-19.3-18.8zM92.5 14.7c4.1 2.4 5.5 9.8 3.8 20.3-.3 2.1-.8 4.3-1.4 6.6-5.2-1.2-10.7-2-16.5-2.5-3.4-4.8-6.9-9.1-10.4-13 7.4-7.3 14.9-12.3 21-12.3 1.3 0 2.5.3 3.5.9zM81.3 74c-1.8 3.2-3.9 6.4-6.1 9.6-3.7.3-7.4.4-11.2.4-3.9 0-7.6-.1-11.2-.4-2.2-3.2-4.2-6.4-6-9.6-1.9-3.3-3.7-6.7-5.3-10 1.6-3.3 3.4-6.7 5.3-10 1.8-3.2 3.9-6.4 6.1-9.6 3.7-.3 7.4-.4 11.2-.4 3.9 0 7.6.1 11.2.4 2.2 3.2 4.2 6.4 6 9.6 1.9 3.3 3.7 6.7 5.3 10-1.7 3.3-3.4 6.6-5.3 10zm8.3-3.3c1.5 3.5 2.7 6.9 3.8 10.3-3.4.8-7 1.4-10.8 1.9 1.2-1.9 2.5-3.9 3.6-6 1.2-2.1 2.3-4.2 3.4-6.2zM64 97.8c-2.4-2.6-4.7-5.4-6.9-8.3 2.3.1 4.6.2 6.9.2 2.3 0 4.6-.1 6.9-.2-2.2 2.9-4.5 5.7-6.9 8.3zm-18.6-15c-3.8-.5-7.4-1.1-10.8-1.9 1.1-3.3 2.3-6.8 3.8-10.3 1.1 2 2.2 4.1 3.4 6.1 1.2 2.2 2.4 4.1 3.6 6.1zm-7-25.5c-1.5-3.5-2.7-6.9-3.8-10.3 3.4-.8 7-1.4 10.8-1.9-1.2 1.9-2.5 3.9-3.6 6-1.2 2.1-2.3 4.2-3.4 6.2zM64 30.2c2.4 2.6 4.7 5.4 6.9 8.3-2.3-.1-4.6-.2-6.9-.2-2.3 0-4.6.1-6.9.2 2.2-2.9 4.5-5.7 6.9-8.3zm22.2 21l-3.6-6c3.8.5 7.4 1.1 10.8 1.9-1.1 3.3-2.3 6.8-3.8 10.3-1.1-2.1-2.2-4.2-3.4-6.2zM31.7 35c-1.7-10.5-.3-17.9 3.8-20.3 1-.6 2.2-.9 3.5-.9 6 0 13.5 4.9 21 12.3-3.5 3.8-7 8.2-10.4 13-5.8.5-11.3 1.4-16.5 2.5-.6-2.3-1-4.5-1.4-6.6zM7 64c0-4.7 5.7-9.7 15.7-13.4 2-.8 4.2-1.5 6.4-2.1 1.6 5 3.6 10.3 6 15.6-2.4 5.3-4.5 10.5-6 15.5C15.3 75.6 7 69.6 7 64zm28.5 49.3c-4.1-2.4-5.5-9.8-3.8-20.3.3-2.1.8-4.3 1.4-6.6 5.2 1.2 10.7 2 16.5 2.5 3.4 4.8 6.9 9.1 10.4 13-7.4 7.3-14.9 12.3-21 12.3-1.3 0-2.5-.3-3.5-.9zM96.3 93c1.7 10.5.3 17.9-3.8 20.3-1 .6-2.2.9-3.5.9-6 0-13.5-4.9-21-12.3 3.5-3.8 7-8.2 10.4-13 5.8-.5 11.3-1.4 16.5-2.5.6 2.3 1 4.5 1.4 6.6zm9-15.6c-2 .8-4.2 1.5-6.4 2.1-1.6-5-3.6-10.3-6-15.6 2.4-5.3 4.5-10.5 6-15.5 13.8 4 22.1 10 22.1 15.6 0 4.7-5.8 9.7-15.7 13.4z"
              ></path></g
            >
          </svg>
        </div>
        <h2 class="text-xl font-bold text-center text-white">React</h2>
      </div>
    </div>
    <div
      class="max-w-sm m-0 bg-gradient-to-br from-red-500 to-pink-500 rounded-xl overflow-hidden shadow-2xl transform hover:scale-105 transition-transform duration-300"
    >
      <div class="p-6">
        <div class="flex items-center justify-center">
          <!-- Angular SVG Logo -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 250 250"
            class="w-24 h-24"
          >
            <path
              fill="#DD0031"
              d="M125 30L31.9 63.2l14.2 123.1L125 230l78.9-43.7 14.2-123.1z"
            ></path>
            <path
              fill="#C3002F"
              d="M125 30v22.2-.1V230l78.9-43.7 14.2-123.1L125 30z"></path>
            <path
              fill="#FFFFFF"
              d="M125 52.1L66.8 182.6h21.7l11.7-29.2h49.4l11.7 29.2H183L125 52.1zm17 83.3h-34l17-40.9 17 40.9z"
            ></path>
          </svg>
        </div>
        <h2 class="text-xl font-bold text-center text-white">Angular</h2>
      </div>
    </div>
    <div
      class="max-w-sm m-0 bg-gradient-to-br from-green-400 to-teal-500 rounded-xl overflow-hidden shadow-2xl transform hover:scale-105 transition-transform duration-300"
    >
      <div class="p-6">
        <div class="flex items-center justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 128 128"
            class="w-24 h-24"
          >
            <path
              d="M0 8.934l49.854.158 14.167 24.47 14.432-24.47L128 8.935l-63.834 110.14zm126.98.637l-24.36.02-38.476 66.053L25.691 9.592.942 9.572l63.211 107.89zm-25.149-.008l-22.745.168-15.053 24.647L49.216 9.73l-22.794-.168 37.731 64.476zm-75.834-.17l23.002.009m-23.002-.01l23.002.01"
              fill="none"></path><path
              d="M25.997 9.393l23.002.009L64.035 34.36 79.018 9.404 102 9.398 64.15 75.053z"
              fill="#35495e"></path><path
              d="M.91 9.569l25.067-.172 38.15 65.659L101.98 9.401l25.11.026-62.966 108.06z"
              fill="#41b883"></path>
          </svg>
        </div>
        <h2 class="text-xl font-bold text-center text-white">Vue</h2>
      </div>
    </div>

    <!-- Flutter Card -->
    <div
      class="max-w-sm m-0 bg-gradient-to-br from-blue-400 to-cyan-300 rounded-xl overflow-hidden shadow-2xl transform hover:scale-105 transition-transform duration-300"
    >
      <div class="p-6">
        <div class="flex items-center justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 128 128"
            class="w-24 h-24"
          >
            <path
              fill="#3FB6D3"
              d="M12.3 64.2L76.3 0h39.4L12.3 103.6zM76.3 128h39.4L81.6 93.9l34.1-34.8H76.3L42.2 93.5z"
            ></path><path
              fill="#27AACD"
              d="M81.6 93.9l-20-20-19.4 19.6 19.4 19.6z"></path><path
              fill="#19599A"
              d="M115.7 128L81.6 93.9l-20 19.2L76.3 128z"></path><linearGradient
              id="flutter-original-a"
              gradientUnits="userSpaceOnUse"
              x1="59.365"
              y1="116.36"
              x2="86.825"
              y2="99.399"
              ><stop offset="0" stop-color="#1b4e94"></stop><stop
                offset=".63"
                stop-color="#1a5497"></stop><stop
                offset="1"
                stop-color="#195a9b"></stop></linearGradient
            ><path
              fill="url(#flutter-original-a)"
              d="M61.6 113.1l30.8-8.4-10.8-10.8z"></path>
          </svg>
        </div>
        <h2 class="text-xl font-bold text-center text-white">Flutter</h2>
      </div>
    </div>
    <div
      class="max-w-sm m-0 bg-gradient-to-br from-blue-600 to-purple-600 rounded-xl overflow-hidden shadow-2xl transform hover:scale-105 transition-transform duration-300"
    >
      <div class="p-6">
        <div class="flex items-center justify-center">
          <svg
            class="h-24 w-24"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            fill="#000000"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
              ><title>file_type_sql</title><path
                d="M8.562,15.256A21.159,21.159,0,0,0,16,16.449a21.159,21.159,0,0,0,7.438-1.194c1.864-.727,2.525-1.535,2.525-2V9.7a10.357,10.357,0,0,1-2.084,1.076A22.293,22.293,0,0,1,16,12.078a22.36,22.36,0,0,1-7.879-1.3A10.28,10.28,0,0,1,6.037,9.7v3.55C6.037,13.724,6.7,14.528,8.562,15.256Z"
                style="fill:#42e9ff"></path><path
                d="M8.562,21.961a15.611,15.611,0,0,0,2.6.741A24.9,24.9,0,0,0,16,23.155a24.9,24.9,0,0,0,4.838-.452,15.614,15.614,0,0,0,2.6-.741c1.864-.727,2.525-1.535,2.525-2v-3.39a10.706,10.706,0,0,1-1.692.825A23.49,23.49,0,0,1,16,18.74a23.49,23.49,0,0,1-8.271-1.348,10.829,10.829,0,0,1-1.692-.825V19.96C6.037,20.426,6.7,21.231,8.562,21.961Z"
                style="fill:#42e9ff"></path><path
                d="M16,30c5.5,0,9.963-1.744,9.963-3.894V23.269a10.5,10.5,0,0,1-1.535.762l-.157.063A23.487,23.487,0,0,1,16,25.445a23.422,23.422,0,0,1-8.271-1.351c-.054-.02-.106-.043-.157-.063a10.5,10.5,0,0,1-1.535-.762v2.837C6.037,28.256,10.5,30,16,30Z"
                style="fill:#42e9ff"></path><ellipse
                cx="16"
                cy="5.894"
                rx="9.963"
                ry="3.894"
                style="fill:#42e9ff"></ellipse></g
            ></svg
          >
        </div>
        <h2 class="text-xl font-bold text-center text-white">SQL Server</h2>
      </div>
    </div>

    <!-- MySQL Card -->
    <div
      class="max-w-sm m-0 bg-gradient-to-br from-red-500 to-orange-400 rounded-xl overflow-hidden shadow-2xl transform hover:scale-105 transition-transform duration-300"
    >
      <div class="p-6">
        <div class="flex items-center justify-center">
          <svg
            class="h-24 w-24"
            viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
              ><path
                fill="#fff"
                fill-rule="evenodd"
                d="M.1 8c0 2.761 2.237 5 4.997 5h5.806A4.999 4.999 0 0015.9 8c0-2.761-2.237-5-4.997-5H5.097A4.999 4.999 0 00.1 8zm13.911 0a3.235 3.235 0 01-3.234 3.237h-5.55A3.235 3.235 0 011.991 8a3.235 3.235 0 013.234-3.236h5.551A3.235 3.235 0 0114.011 8z"
                clip-rule="evenodd"></path></g
            ></svg
          >
        </div>
        <h2 class="text-xl font-bold text-center text-white">Oracle</h2>
      </div>
    </div>

    <!-- Azure Card -->
    <div
      class="max-w-sm m-0 bg-gradient-to-br from-black to-blue-300 rounded-xl overflow-hidden shadow-2xl transform hover:scale-105 transition-transform duration-300"
    >
      <div class="p-6">
        <div class="flex items-center justify-center">
          <!-- Aquí va el icono de Azure -->
          <svg
            class="h-24 w-24"
            viewBox="0 -28.5 256 256"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            fill="#000000"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <title>path21</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path
                  d="M118.431947,187.698037 C151.322003,181.887937 178.48731,177.08008 178.799309,177.013916 L179.366585,176.893612 L148.31513,139.958881 C131.236843,119.644776 117.26369,102.945381 117.26369,102.849118 C117.26369,102.666861 149.32694,14.3716012 149.507189,14.057257 C149.567455,13.952452 171.38747,51.62411 202.400338,105.376064 C231.435152,155.699606 255.372949,197.191547 255.595444,197.580359 L255.999996,198.287301 L157.315912,198.274572 L58.6318456,198.261895 L118.431947,187.698073 L118.431947,187.698037 Z M-4.03864498e-06,176.434723 C-4.03864498e-06,176.382721 14.631291,150.983941 32.5139844,119.992969 L65.0279676,63.6457518 L102.919257,31.8473052 C123.759465,14.3581634 140.866667,0.0274832751 140.935253,0.00062917799 C141.003839,-0.0247829554 140.729691,0.665213042 140.326034,1.53468179 C139.922377,2.40415053 121.407304,42.1170321 99.1814268,89.7855264 L58.7707514,176.455514 L29.3853737,176.492355 C13.2234196,176.512639 -4.03864498e-06,176.486664 -4.03864498e-06,176.434703 L-4.03864498e-06,176.434723 Z"
                  fill="#0089D6"
                  fill-rule="nonzero"
                >
                </path>
              </g>
            </g></svg
          >
        </div>
        <h2 class="text-xl font-bold text-center text-white">Azure</h2>
      </div>
    </div>

    <!-- AWS Card -->
    <div
      class="max-w-sm m-0 bg-gradient-to-br from-yellow-600 to-orange-400 rounded-xl overflow-hidden shadow-2xl transform hover:scale-105 transition-transform duration-300"
    >
      <div class="p-6">
        <div class="flex items-center justify-center">
          <!-- Aquí va el icono de AWS -->
          <svg
            viewBox="0 0 16 16"
            class="h-24 w-24"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <g fill="#000000">
                <path
                  d="M4.51 7.687c0 .197.02.357.058.475.042.117.096.245.17.384a.233.233 0 01.037.123c0 .053-.032.107-.1.16l-.336.224a.255.255 0 01-.138.048c-.054 0-.107-.026-.16-.074a1.652 1.652 0 01-.192-.251 4.137 4.137 0 01-.164-.315c-.416.491-.937.737-1.565.737-.447 0-.804-.129-1.064-.385-.261-.256-.394-.598-.394-1.025 0-.454.16-.822.484-1.1.325-.278.756-.416 1.304-.416.18 0 .367.016.564.042.197.027.4.07.612.118v-.39c0-.406-.085-.689-.25-.854-.17-.166-.458-.246-.868-.246-.186 0-.377.022-.574.07a4.23 4.23 0 00-.575.181 1.525 1.525 0 01-.186.07.326.326 0 01-.085.016c-.075 0-.112-.054-.112-.166v-.262c0-.085.01-.15.037-.186a.399.399 0 01.15-.113c.185-.096.409-.176.67-.24.26-.07.537-.101.83-.101.633 0 1.096.144 1.394.432.293.288.442.726.442 1.314v1.73h.01zm-2.161.811c.175 0 .356-.032.548-.096.192-.064.362-.182.505-.342a.848.848 0 00.181-.341c.032-.129.054-.283.054-.465V7.03a4.43 4.43 0 00-.49-.09 3.996 3.996 0 00-.5-.033c-.357 0-.617.07-.793.214-.176.144-.26.347-.26.614 0 .25.063.437.196.566.128.133.314.197.559.197zm4.273.577c-.096 0-.16-.016-.202-.054-.043-.032-.08-.106-.112-.208l-1.25-4.127a.938.938 0 01-.048-.214c0-.085.042-.133.127-.133h.522c.1 0 .17.016.207.053.043.032.075.107.107.208l.894 3.535.83-3.535c.026-.106.058-.176.101-.208a.365.365 0 01.213-.053h.426c.1 0 .17.016.212.053.043.032.08.107.102.208l.84 3.578.92-3.578a.459.459 0 01.107-.208.347.347 0 01.208-.053h.495c.085 0 .133.043.133.133 0 .027-.006.054-.01.086a.768.768 0 01-.038.133l-1.283 4.127c-.031.107-.069.177-.111.209a.34.34 0 01-.203.053h-.457c-.101 0-.17-.016-.213-.053-.043-.038-.08-.107-.101-.214L8.213 5.37l-.82 3.439c-.026.107-.058.176-.1.213-.043.038-.118.054-.213.054h-.458zm6.838.144a3.51 3.51 0 01-.82-.096c-.266-.064-.473-.134-.612-.214-.085-.048-.143-.101-.165-.15a.38.38 0 01-.031-.149v-.272c0-.112.042-.166.122-.166a.3.3 0 01.096.016c.032.011.08.032.133.054.18.08.378.144.585.187.213.042.42.064.633.064.336 0 .596-.059.777-.176a.575.575 0 00.277-.508.52.52 0 00-.144-.373c-.095-.102-.276-.193-.537-.278l-.772-.24c-.388-.123-.676-.305-.851-.545a1.275 1.275 0 01-.266-.774c0-.224.048-.422.143-.593.096-.17.224-.32.384-.438.16-.122.34-.213.553-.277.213-.064.436-.091.67-.091.118 0 .24.005.357.021.122.016.234.038.346.06.106.026.208.052.303.085.096.032.17.064.224.096a.461.461 0 01.16.133.289.289 0 01.047.176v.251c0 .112-.042.171-.122.171a.552.552 0 01-.202-.064 2.428 2.428 0 00-1.022-.208c-.303 0-.543.048-.708.15-.165.1-.25.256-.25.475 0 .149.053.277.16.379.106.101.303.202.585.293l.756.24c.383.123.66.294.825.513.165.219.244.47.244.748 0 .23-.047.437-.138.619a1.435 1.435 0 01-.388.47c-.165.133-.362.23-.591.299-.24.075-.49.112-.761.112z"
                ></path>
                <path
                  fill-rule="evenodd"
                  d="M14.465 11.813c-1.75 1.297-4.294 1.986-6.481 1.986-3.065 0-5.827-1.137-7.913-3.027-.165-.15-.016-.353.18-.235 2.257 1.313 5.04 2.109 7.92 2.109 1.941 0 4.075-.406 6.039-1.239.293-.133.543.192.255.406z"
                  clip-rule="evenodd"></path>
                <path
                  fill-rule="evenodd"
                  d="M15.194 10.98c-.223-.287-1.479-.138-2.048-.069-.17.022-.197-.128-.043-.24 1-.705 2.645-.502 2.836-.267.192.24-.053 1.89-.99 2.68-.143.123-.281.06-.217-.1.212-.53.686-1.72.462-2.003z"
                  clip-rule="evenodd"></path>
              </g>
            </g></svg
          >
        </div>
        <h2 class="text-xl font-bold text-center text-white">AWS</h2>
      </div>
    </div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="FusionHit"
      charge="Tech Lead"
      subtitle="Feb 2021 - Today, Heredia, Costa Rica"
    >
      <b>Achievements:</b> As Tech Lead, I spearheaded the development of new app
      modules, directed code migration across diverse technologies, and provided
      strategic oversight for current projects, guiding the end-to-end development
      of applications from the ground up and ensuring robust support for core systems.
      <br />
      <br />
      <b>Tools used:</b>
      Oracle, PostgreSQL, DBeaver, ASP.NET core (c#), Javascript, React, Angular, Bootstrap, 
      AWS Dapper, Bitbucket, Jira, Python, Cursor, Copilot, Gemini CLI, v0.
    </TimeLineElement>
    <TimeLineElement
      title="Font Sistemas"
      charge="Developer Freelancer"
      subtitle="Sept 2018 - Today, Heredia, Costa Rica"
    >
      <b>Achievements:</b> Developing the website and web service responsible for
      managing assets for multiple companies nationwide, integrating the web service
      with a mobile app developed by another team member, and providing support to
      legacy systems within the company.
      <br />
      <br />
      <b>Tools used:</b> SQL Server, ASP.NET (C#), JavaScript, jQuery, Bootstrap,
      Entity Framework, Reporting Services, and RFID.
    </TimeLineElement>
    <TimeLineElement
      title="Arvum"
      charge="Developer Freelancer"
      subtitle="March 2020 - March 2021, San José, Costa Rica"
    >
      <b>Achievements:</b>I was responsible for developing new app modules,
      migrating code between different technologies, leading small projects, and
      providing support to core applications.
      <br />
      <br />
      <b>Tools used:</b> SQL Server, ASP.NET (C#), JavaScript, AngularJS, Angular,
      Bootstrap, Entity Framework, and Azure DevOps.
    </TimeLineElement>
    <TimeLineElement
      title="Evertec Inc"
      charge="Full-Stack Developer Freelancer"
      subtitle="Sept 2016 - Feb 2021, Heredia, Costa Rica"
    >
      <b>Achievements:</b> Developing the intranet for a banking client in Puerto
      Rico to manage and maintain backend processes, creating web and Windows applications
      and services that control data exchanges with other banks, ensuring information
      is formatted according to recipient requirements, and leading a team of developers
      across multiple countries.
      <br />
      <br />
      <b>Tools used:</b> SQL Server, ASP.NET (C#), JavaScript, jQuery, Bootstrap,
      Entity Framework, and Reporting Services.
    </TimeLineElement>
    <TimeLineElement
      title="Traetelo.com"
      charge="Full-Stack Developer"
      subtitle="Apr 2016 - Sept 2016, Caracas, Venezuela"
    >
      <b>Achievements:</b> I developed web applications to manage the company’s internal
      processes and created applications and services for data control to be published
      on the e-commerce platform. I also provided support for the sales portal based
      on user demands.
      <br />
      <br />
      <b>Tools used:</b> SQL Server, MySQL, MongoDB, MariaDB, ASP.NET (C#), ASP.NET
      MVC, PHP, JavaScript, jQuery, Bootstrap, MetroUI, Entity Framework, and Reporting
      Services.
    </TimeLineElement>
    <TimeLineElement
      title="Soluciones HGI"
      charge="Full-Stack Developer"
      subtitle="Nov 2012 - Dec 2015, Caracas, Venezuela"
    >
      <b>Achievements:</b> I developed applications and services (both web and Windows)
      based on user requests from CitiBank and Toyota Financial Services. I provided
      support for the bank's internal applications responsible for processing and
      managing account and customer data, and I was involved in the generation, analysis,
      and review of regulatory reports submitted to the banking superintendence.
      Additionally, I led the development of custom applications.
      <br />
      <br />
      <b>Tools used:</b> SQL Server, ASP.NET (C#), JavaScript, jQuery, Bootstrap,
      and Reporting Services.
    </TimeLineElement>
  </div>
</BaseLayout>
